<!DOCTYPE html>
<head>
  <title>Book Search Results</title>
  <link rel="stylesheet" href="./../styles/reset.css">
  <link rel="stylesheet" href="./../styles/base.css">
  <link rel="stylesheet" href="./../styles/layout.css">
  <link rel="stylesheet" href="./../styles/modules.css">
  <link rel="stylesheet" href="./../styles/icons.css">
</head>
<body>
  <h3><%= selectedBook.title %></h3>
</body>