body {
  /* background-color:#555; */
  background-image: url("../j-zamora-GWOTvo3qq7U-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  text-align:center;
}

.book-card{
  border:1px solid black;
  background-color: #999;
}

.hidden {
  display: none;
}

