@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

body {
  background-image: url("../j-zamora-GWOTvo3qq7U-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Francois One', sans-serif;
}

.hidden {
  display: none;
}

