@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

body {
  background-image: url("../j-zamora-GWOTvo3qq7U-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Francois One', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  text-align:center;
}

.book-card{
  border:1px solid black;
  background-color: #999;
}

.hidden {
  display: none;
}

