div{
  text-align: center;
  padding:1.5em;
}
h4{
  padding:.5em;
}
form :first-child{
  height:2.5em;
}
nav {
  width: 100%;
}
#nav-ul{
  width:100%;
}
#nav-li{
  width:25%;
}
fieldset{
  padding:.3em;
}
h3{
  padding:.7em;

}