@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

.book-card {
  border:1px solid black;
  background-color: #999;
}

.search-card {
  justify-content: space-between;
  height: auto;
  border:1px solid black;
  background-color: #999;
}

.search-card p {
  margin: .5em;
}

h3 {
  color:white;
  font-size: 1.8em;
}

h4 {
  font-size: 2.0em;
  color:white;
}

input, button {
  font-family: 'Francois One', sans-serif;
}

span {
  font-size: 1.3em;
  color:white
}

.description {
  width: 10em;
  height: 4em;
  overflow: scroll;
}

#nav-ul {
  background-color: #222;
}

.nav-li {
  padding: .8em;
  background-color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.details-button {
  height: 2em;
  line-height: .3em;
}

#row-count {
  text-align: center;
  font-size: 1.2em;
  margin-top: 1.5em;
  padding: .5em;
  color:white;
  height: 1.5em;
}

.author {
  color:#333;
  font-size: 1.2em;
  padding-bottom:.6em;
}

#search-input {
  width: 20%;
  height: 2.5em;
}
