<header>
  <nav>
    <ul id= "nav-ul">
      <li class = "nav-li"><a href="./../">My Book Collection</a></li>
      <li class = "nav-li"><a href="./../searches/">Search Books</a></li>
    </ul>
  </nav>
</header>